/* IBM Plex Mono - Latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("${ASSETS_DIR}/fonts/ibm-plex-mono-400-latin.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url("${ASSETS_DIR}/fonts/ibm-plex-mono-500-latin.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url("${ASSETS_DIR}/fonts/ibm-plex-mono-600-latin.woff2") format("woff2");
}

/* IBM Plex Serif - Latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("${ASSETS_DIR}/fonts/ibm-plex-serif-400-latin.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url("${ASSETS_DIR}/fonts/ibm-plex-serif-500-latin.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url("${ASSETS_DIR}/fonts/ibm-plex-serif-600-latin.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("${ASSETS_DIR}/fonts/ibm-plex-serif-700-latin.woff2") format("woff2");
}
